*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-image: url('/images/house.webp');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-direction: row;
}
.sub{
    background-color: rgba(0, 0, 0, 0.807);
    top: 50%;
    /* display: block;
    justify-content: center; */
    height: 30%;
    width: 90vw;
    padding-left: 20px;
    /* align-items: center; */
    padding-top: 30px;
    color: white;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid none;
   border-radius: 20px;
   margin-bottom: 80px;
 
}
.para{
    padding-top: 8px;
    font-weight: 400;
}
.head2{
    padding-top: 10px;
    font-weight: 600;
}
.btn{
    position: fixed;
    /* Adjust this value as needed to control the distance from the bottom */
    left:52%; /* Center the button horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    padding: 9px;
    color:  rgba(0, 0, 0, 0.725);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid none;
    border-radius: 10px;
    margin-top: 15px;
    background-color: white;
    margin-bottom: 15px;
    }
